<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSES</title>
</head>
<body>
    <style>
      body{
          background-color:#fff;          
          display: flex;
          justify-content: center;
          
      }  
      form{
          max-width: 350px;
          background-color: #156215;
          border: #141214;
          font-family: sans-serif;
          font-size: medium;
      }
      input{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 50px;
          padding: 15px;
      }
      
    </style>
    <form method="POST">
        <h1>COURSES FORM</h1>
        {%csrf_token%}
        {{form.as_p}} 
        <button>SUBMIT</button>     
    </form>  

</body>
</html>